
<section class="container-page">
  <div class="container">
    <div class="nav-bar">
      <div class="brand-logo"><a href="index.html">Atomo</a></div>
      <nav>
        <ul>
          <li><a href="autor.html">Inicio</a></li>
          <li><a href="resumen.html">Resumen</a></li>
          <li><a href="preguntas.html">Cuestionario</a></li>
          <li><a href="bibliografia.html">Bibliografia</a></li>
        </ul>
      </nav>
      <ul class="hide-menu"><i class="fa fa-bars" onclick="sh()"><span>Menu</span></i></ul>
      <nav class="hide-nav" id="show-hide">
        <ul></ul>
        <li><a href="autor.html">Inicio</a></li>
        <li><a href="resumen.html">Resumen</a></li>
        <li><a href="preguntas.html">Cuestionario</a></li>
        <li><a href="bibliografia.html">Bibliografia</a></li>
      </nav>
    </div>
    <div class="jumbotron text-center">
      <div class="fi"><img src="./img/fi.png" alt="" srcset=""/></div>
      <div class="unam"><img src="./img/unam.png" alt="" srcset=""/></div>
      <div class="user-img"><img src="./img/boy.svg" alt=""/></div>
      <h1 class="display-4">Mario Alberto</h1>
      <p class="lead">Matricula: <span>314162588 </span></p>
      <p class="lead">Ocupación: <span>Desarrollador</span></p>
      <p class="lead">Trabajo Actual: <span>Conecta</span></p>
      <p class="lead">Materia: <span>Estructuras Discretas</span></p>
      <p class="lead">Grupo: <span>5</span></p>
    </div>
  </div>
</section>