
<div class="nav-bar">
  <div class="brand-logo"><a href="index.html">Atomo</a></div>
  <nav>
    <ul>
      <li><a href="autor.html">Inicio</a></li>
      <li><a href="resumen.html">Resumen</a></li>
      <li><a href="preguntas.html">Cuestionario</a></li>
      <li><a href="bibliografia.html">Bibliografia</a></li>
    </ul>
  </nav>
  <ul class="hide-menu"><i class="fa fa-bars" onclick="sh()"><span>Menu</span></i></ul>
  <nav class="hide-nav" id="show-hide">
    <ul></ul>
    <li><a href="autor.html">Inicio</a></li>
    <li><a href="resumen.html">Resumen</a></li>
    <li><a href="preguntas.html">Cuestionario</a></li>
    <li><a href="bibliografia.html">Bibliografia</a></li>
  </nav>
</div>