
<section class="container-page">
  <div class="container">
    <div class="nav-bar">
      <div class="brand-logo"><a href="index.html">Atomo</a></div>
      <nav>
        <ul>
          <li><a href="autor.html">Inicio</a></li>
          <li><a href="resumen.html">Resumen</a></li>
          <li><a href="preguntas.html">Cuestionario</a></li>
          <li><a href="bibliografia.html">Bibliografia</a></li>
        </ul>
      </nav>
      <ul class="hide-menu"><i class="fa fa-bars" onclick="sh()"><span>Menu</span></i></ul>
      <nav class="hide-nav" id="show-hide">
        <ul></ul>
        <li><a href="autor.html">Inicio</a></li>
        <li><a href="resumen.html">Resumen</a></li>
        <li><a href="preguntas.html">Cuestionario</a></li>
        <li><a href="bibliografia.html">Bibliografia</a></li>
      </nav>
    </div>
    <div class="content-question">
      <h2>Es hora de empezar</h2>
      <div id="container-cards"></div>
      <button class="btn mt-4 btn-primary" id="send">Enviar respuesta</button>
    </div>
  </div>
</section>
<div class="modal" id="myModal">
  <div class="modal-content">
    <div id="modalContent"></div>
    <button class="btn btn-primary close-modal">aceptar</button>
  </div>
</div>